<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Cadastrar Novo Filme</title>
    <link rel="stylesheet" href="/css/style.css"/>
</head>
<body>
    <header th:insert="navbar.html"></header>
    <div class="container">
        <h1>Cadastrar Novo Filme</h1>

        <div th:if="${successMessage}" class="alert alert-success" th:text="${successMessage}"></div>
        <div th:if="${errorMessage}" class="alert alert-danger" th:text="${errorMessage}"></div>

        <form th:action="@{/filmes/novo}" th:object="${filme}" method="post">
            <div class="form-group">
                <label for="titulo">Título:</label>
                <input type="text" th:field="*{titulo}" id="titulo" required class="form-control"/>
                <p th:if="${#fields.hasErrors('titulo')}" th:errors="*{titulo}" class="error-message"></p>
            </div>

            <div class="form-group">
                <label for="sinopse">Sinopse:</label>
                <textarea th:field="*{sinopse}" id="sinopse" required class="form-control"></textarea>
                <p th:if="${#fields.hasErrors('sinopse')}" th:errors="*{sinopse}" class="error-message"></p>
            </div>

            <div class="form-group">
                <label for="genero">Gênero:</label>
                <input type="text" th:field="*{genero}" id="genero" required class="form-control" />
                <p th:if="${#fields.hasErrors('genero')}" th:errors="*{genero}" class="error-message"></p>
            </div>

            <div class="form-group">
                <label for="anoLancamento">Ano de Lançamento:</label>
                <input type="number" th:field="*{anoLancamento}" id="anoLancamento" required class="form-control"/>
                <p th:if="${#fields.hasErrors('anoLancamento')}" th:errors="*{anoLancamento}" class="error-message"></p>
            </div>

            <button type="submit" class="btn btn-primary">Salvar Filme</button>
        </form>
    </div>
</body>
</html>